<footer class="footer">
  <div class="footer__container">
    <div class="footer__row">
      <div class="footer__logo">
        <a href="#" class="footer__logo__link">
          <img src="assets/images/logo.png" alt="logo" />
        </a>
      </div>
      <div class="footer__text">
        <p class="text__name__asset item__one">Artist Management:</p>
        <p class="text__name__sur item__one">Jake Henny</p>
        <p class="text__name__asset item__one">EMAIL:</p>
        <p class="text__name__sur item__one">jake@brightlightsofficial.com</p>
      </div>
      <div class="fotter__links">
        <a href="#" class="apple__link footer__item__link">
          <div class="icon-appleinc"></div>
        </a>
        <a href="#" class="apple__spowify footer__item__link">
          <div class="icon-spotify"></div>
        </a>
        <a href="#" class="insta__link footer__item__link">
          <div class="icon-instagram"></div>
        </a>
        <a href="#" class="youtube__link footer__item__link">
          <div class="icon-youtube"></div>
        </a>
        <a href="#" class="twitter__link footer__item__link">
          <div class="icon-twitter"></div>
        </a>
        <a href="#" class="facebook__link footer__item__link">
          <div class="icon-facebook2"></div>
        </a>
      </div>
      <div class="footer__copyright">© 2020 DJ bright lights.</div>
    </div>
  </div>
</footer>
